@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap');

*{
    margin: 0 auto;
    font-family: sans-serif;
    width: 100%;
    box-sizing: border-box;
}

body{
    background-color: rgb(134, 167, 148);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 300;
}

.pai{
    background-color: rgba(98, 138, 116, 0.603);
    width: 30%;
    padding: 70px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    max-width: 600px;
    margin-bottom: 24px;
    text-align: center;
    color: #fff;
    font-family: "Poppins";
    font-weight: 800;
}

.social{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    width: 200px;
    margin-top: 30px;
}

.social a{
    font-size: 40px;
    color: #FFF;
}

.container-input{
    max-width: 480px;
    margin: 14px 0;
    flex-direction: column;
}

.container-input span{
    color: #fff;
    font-size: 22px;
}

.slider{
    -webkit-appearance: none;
    width: 100%;
    border-radius: 5px;
    background: #dfdfdf;
    height: 18px;
    outline: none;
    margin-top: 8px;
}

.button-cta{
    height: 40px;
    background-color: #5a8153;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
}

.container-password{
    max-width: 480px;
    margin: 14px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.title{
    text-align: center;
    color: #fff;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 8px;
}

.password{
    height: 60px;
    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: transform 0.5s;
}

.password:hover{
    transform: scale(1.03);
}

.tooltip{
    color: #fff;
    position: relative;
    top: 20px;
    padding: 6px 8px;
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.hide{
    display: none;
}

.container-password:hover .tooltip{
    visibility: visible;
    bottom: 50px;
    opacity: 1;
}